---
---
$font-serif: 'Libre Baskerville', serif;
$font-sans-serif: 'Open Sans', sans-serif;
$site-width: 1000px;

body {
    font-family: $font-sans-serif;
    background-color: #f1e5d9;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
    font-size:16px;
    min-width:300px;
    margin-top:0;
}

a {
    text-decoration: none;
    color: #ad865f;
}

#background-img {
    background-image: url('../../img/background.jpg');
    background-size: cover;
    height:400px;
}

#title {
    text-decoration: none;
    color: #ffffff;
    font-family: $font-serif;
    font-size: 65px;
    margin: 10px 0 0 20px;
    position: absolute;
}

#content {
    margin: 15px 0;
}

#nav{
    text-align: right;
    padding: 10px 0 0 0;
    ul {
        list-style: none;
        font-size: 30px; 
        margin: 0;
        padding: 0;
        
        li {
            display: inline-block;
            a {
                color: #000000;
                text-decoration: none;
                font-family: $font-sans-serif;
            }
        }
        
        li + li:before {
            content: "/"; 
            padding: 0 3px;
        }
    }
}

#footer {
    text-align:center;
    margin-bottom:0px;
    color: #444444;
}

.wrapper {
    padding: 15px;
    background-color: #ffffff;
} 

.post-img {
    width:100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

@media (max-width: 750px) {
    #background-img {
        height:200px;
    }
    #title {
        font-size: 40px;
    }

    #nav ul{
        text-align: center;
        font-size: 20px;
        
        
        li + li:before {
            content: "."; 
            padding: 0 3px;
        }
    }
    
    .wrapper {
        padding: 5px;
    } 

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 350px) {

    .grid-container {
        grid-template-columns: 1fr;
    }
}

#resume  {
    .row{
      display: flex;
      padding: 5px 0;
    .col {
      flex-basis: 30%;
      padding: 0px 10px;
      }
      .col:last-child{
      flex-grow: 3;
      }
    }
    
    h1, h2, h3 {
      text-transform: uppercase;
      font-family: $font-serif;
    }
    
    h1, h2 {
        text-align: center;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.1em;
        border-bottom: 1px solid black;
    }
}
