<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css' }}">
	<title>saining.li</title>
  </head>

  <body>

    <div class="wrapper">
        <div id="background-img">
            <a href="/" id="title">saining.li</a>
        </div>
	</div>
    <div id="nav">
		<ul>
			<li>
			<a href="/index">home</a>
			</li>
			<li>
			<a href="/cv">cv</a>
			</li>
			<li>
			<a href="/bread">bread</a>
			</li>
			<li>
			<a href="/paint">paint</a>
			</li>
		</ul>
    </div>
    <div id="content" class="wrapper">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>